{% extends 'base.html.twig' %}

{% block title %}Info de l'article{% endblock %}

{% block body %}


    <div class="card text-bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">{{ article.titre }}</div>
        <div class="card-body">
            {% if  article.categorie %}
                <h5 class="card-title">Catégorie : <span class="badge text-bg-secondary fs-5">{{ article.categorie.titre }}</span></h5>
            {% endif %}
            <p class="card-text"><span class="badge rounded-pill text-bg-info mb-3">Créé le {{ article.createdAt | date("d/m/Y") }}</span></p>
            <p class="card-text ">{{ article.contenu | raw}}</p>
        </div>
    </div>

    {% if article.commentaires.count >1 %}
        <h3 class="mb-4">{{ article.commentaires.count}} Commentaires</h3>

    {% elseif article.commentaires.count == 0 %}
        <h3 class="mb-4">Pas de commentaire :(</h3>

    {% else %}
        <h3 class="mb-4">{{ article.commentaires.count}} Commentaire</h3>
    {% endif %}


    <div class="">
        {% for commentaire in commentaires %}
            <ul class="border border-5 rounded">
                {%if commentaire.utilisateurId %}
                    <li><h5><b>{{ commentaire.utilisateurId.pseudo }} </b>{{ commentaire.createdAt | date("d/m/Y") }}</h5></li>
                {%else %}
                    <li><h5> <b>Anonyme {{ commentaire.createdAt | date("d/m/Y") }}</b></h5></li>
                {% endif %}
                <p class="mb-3">{{ commentaire.contenu }}</p>
            </ul>
        {% endfor %}
    </div>





{% endblock %}
