{% extends 'base.html.twig' %}

{% block title %}Création Article{% endblock %}

{% block body %}

    <h1 class="mb-3">Création d'un article</h1>
    {{ form_start(formArticle) }}
      {{ form_row(formArticle.titre, {
        'label' : 'Titre article',
        'attr' : {
            "placeholder" : "Veuillez saisir le titre de l'article"
        },
        'help'  :"Le titre doit contenir au moins 5 caractères"
    }) }}



    {#
    {{ form_label(formArticle.titre, 'Titre de l\'article', {
        "label_attr" : {
            "class" : "text-warning"
        }
    }) }}
    {{ form_widget(formArticle.titre, {
        "attr" : {
            "placeholder" : "Veuillez saisir le titre de l'article"
        },


    }) }}
    {{ form_help(formArticle.titre, {
        "help" : " Le titre doit contenir au moins  caractères"
    }) }}
  #}
    {{ form_row(formArticle.contenu, {
        'label' : 'Contenu article'
    }) }}

    {{ form_row(formArticle.categorie) }}

    <input class="btn btn-primary" value="Ajouter" type="submit">
    {{ form_end(formArticle) }}




{% endblock %}
